<div>
 
</div>
<div class="slide">
    <div class="slide-inner">
        <input class="slide-open" type="radio" id="slide-1" 
              name="slide" aria-hidden="true" hidden="" checked="checked">
        <div class="slide-item">
            <img src="../../../assets/pics/carucel01.webp">
        </div>

        <input class="slide-open" type="radio" id="slide-2" 
              name="slide" aria-hidden="true" hidden="">
        <div class="slide-item">
            <img src="../../../assets/pics/carucel02.png">
        </div>

        <input class="slide-open" type="radio" id="slide-3" 
              name="slide" aria-hidden="true" hidden="">
        <div class="slide-item">
            <img src="../../../assets/pics/carucel03.jpg">
        </div>

        <input class="slide-open" type="radio" id="slide-4" 
        name="slide" aria-hidden="true" hidden="" checked="checked">
        <div class="slide-item">
            <img src="../../../assets/pics/carucel04.jpg">
        </div>

        <input class="slide-open" type="radio" id="slide-5" 
        name="slide" aria-hidden="true" hidden="" checked="checked">
        <div class="slide-item">
            <img src="../../../assets/pics/carucel05.jpeg">
        </div>

        <input class="slide-open" type="radio" id="slide-6" 
        name="slide" aria-hidden="true" hidden="" checked="checked">
        <div class="slide-item">
            <img src="../../../assets/pics/carucel06.jpg">
        </div>


        <label for="slide-6" class="slide-control next control-5">›</label>
        <label for="slide-6" class="slide-control prev control-1">‹</label>

        <label for="slide-5" class="slide-control next control-4">›</label>
        <label for="slide-5" class="slide-control prev control-6">‹</label>

        <label for="slide-4" class="slide-control next control-3">›</label>
        <label for="slide-4" class="slide-control prev control-5">‹</label>

        <label for="slide-3" class="slide-control next control-2">›</label>
        <label for="slide-3" class="slide-control prev control-4">‹</label>

        <label for="slide-2" class="slide-control next control-1">›</label>
        <label for="slide-2" class="slide-control prev control-3">‹</label>

        <label for="slide-1" class="slide-control next control-6">›</label>
        <label for="slide-1" class="slide-control prev control-2">‹</label>


        <ol class="slide-indicador">
            <li>
                <label for="slide-1" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-2" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-3" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-4" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-5" class="slide-circulo">•</label>
            </li>

            <li>
                <label for="slide-6" class="slide-circulo">•</label>
            </li>
        </ol>
    </div>
</div>

<div>
    <p>La papeleria online más completa del país. Aquí esta nuestro <a href="/productos">Catalogo de productos</a></p> 
   
</div>